<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Incident Reporting System</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/full-width-pics.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Angularjs JavaScript version 1.8.0 -->
    <script src="vendor/angularjs/angular.min.js"></script>
    <script src="vendor/angularjs/angular-route.min.js"></script>
    <script src="vendor/angularjs/angular-resource.min.js"></script>

    <!-- application files -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/rest-services.js"></script>

</head>

<body ng-controller="MainCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Incident Reporting</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" ng-click="go('/home')">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-click="go('/reports')">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-click="go('/about')">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-click="go('/login')">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>    

    <div ng-view ng-class="container-fluid">
    </div>
</body>

</html>