<div>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <form class="card">
                        <h5 class="card-title fw-400">Sign Up</h5>
                        <div class="card-body">
                            <div class="form-group"> <input class="form-control" type="text" placeholder="Email"> </div>
                            <div class="form-group"> <input class="form-control" type="password" placeholder="Password">
                            </div>
                            <div class="form-group"> <input class="form-control" type="password"
                                    placeholder="Confirm Password"></div>
                            <div class="form-group">
                                <input id="check" type="checkbox" class="form" checked>
                                <label for="check">
                                    <span class="icon"></span> <a href="" class="link"> Accept Terms of Service</a>
                                </label>
                            </div>
                            <button class="btn btn-block btn-bold btn-primary">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>