<div class = "container-fluid">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="row-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header col-md-4">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand header-link" style="color: #FF6600" ng-click="go('/home')">Addis Essentials</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <div class="col-md-8">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a style="color: #FF6600" class="header-link" ng-click="go('/home')">Home</a></li>
                            <li><a style="color: #FF6600" class="header-link" ng-click="go('/exploreEss')">Explore</a></li>
                            <li><a style="color: #FF6600" class="header-link" ng-click="go('/essMap')">Discover Essentials</a></li>
                            <li ng-show="showCommentBox" class="dropdown">
                                <div style="margin-top: 15px;"><i class="fa fa-user lg"></i><a style="color: darkred; font-weight: bold;" href="#" class="dropdown-toggle" data-toggle="dropdown">{{screenName}} <b class="caret"></b></a></div>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="logout()">Log Out</a></li>
                                </ul>
                            </li>
                            <li ng-show="showLogInNotifier"><a class="btn header-link" style="color: #FF6600; border: 2px #000000 transparent; border-radius: 12px;" ng-click="go('/login')">Log In</a></li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>
<!--<div class="search-bar">
    <input ng-model="query" type="search" placeholder="search" class="topcoat-search-input search-key">
</div>-->
<div class="row-fluid" style="margin-top: 50px;">
    <div style="margin-top: 48px;"></div>
    <!--Left Adds-->
    <div class = "col-md-1" style="border: 1px transparent solid; border-radius: 12px;"></div>

    <div class = "col-md-3" style="border: 1px transparent solid; border-radius: 1px; min-height: 100%; background-color: rgba(0,0,0,0.5)">

    </div>

    <div class = "col-md-7" style="border: 1px transparent solid; border-radius: 1px; min-height: 100%; background-color: rgba(0,0,0,0.03)">

    </div>

    <!--Right Adds-->
    <div class = "col-md-1" style="border: 1px transparent solid; border-radius: 12px;"></div>
</div>


<div class="row-fluid">
    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <!--<p class="simplenav">
                            <a href="#">Home</a> |
                            <a href="about.html">About</a> |
                            <a href="sidebar-right.html">Sidebar</a> |
                            <a href="contact.html">Contact</a> |
                            <b><a href="signup.html">Sign up</a></b>
                        </p>-->
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2014, iKnock Solution.
                        </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>
</div>